{% extends 'base.html.twig' %}

{% block body %}

    <div class="container flex-grow-1">
        <div class="row justify-content-center align-items-center h-100">
            <div class="col-12 col-md-9 col-lg-6 col-xl-5">
                <div class="card border-0 shadow">
                    <div class="card-body p-5">
                        <h1 class="h3 fw-bold">Modifier mon avatar</h1>
                        {{ form_start(form, {attr: {class: 'mt-5'}}) }}
                            <div class="mb-3">
                                {{ form_label(form.avatarFile) }}
                                <div class="row align-items-stretch">
                                    {% if user.avatar is not null %}
                                        <div class="col">
                                            <img src="{{ asset('uploads/' ~ user.avatar) }}" width="100%" class="rounded border" alt="{{ user.nickname }}">
                                        </div>
                                    {% endif %}
                                    <div class="col">
                                        {{ form_widget(form.avatarFile) }}
                                    </div>
                                </div>
                            </div>

                            <div class="d-flex flex-column gap-2 align-items-center">
                                <button type="submit" class="btn btn-primary btn-lg w-100 mb-3">
                                    <i class="fa-solid fa-edit me-2"></i>
                                    Modifier
                                </button>
                            </div>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

