<div {{ attributes }}>
    {{ form_start(form, {
        attr: {
            'data-action': 'live#action',
            'data-action-name': 'prevent|save'
        }
    }) }}
        {{ form_row(form.email) }}
        {{ form_row(form.nickname) }}
        {{ form_row(form.plainPassword) }}

        <button>S'inscrire</button>
    {{ form_end(form) }}
</div>