<div {{ attributes }}>
    {{ form_start(form) }}
        {{ form_row(form.currentPassword) }}
        {{ form_row(form.plainPassword) }}

        <button>Modifier</button>
    {{ form_end(form) }}
</div>